// font weights
$extra-light:  200;
$light:        300;
$regular:      400;
$semi-bold:    600;
$bold:         700;
$orange: #FF4B2B;

// $color__text_red: #7b1732;
$color__text_primary1: #FF4B2B;
$color__text_primary2: #1c1c40;
$color__text_secondary1: #666666;
$color__text_secondary2: #525255;
$color__text_paragraph: #4a4a4a;

// $font__form_title: 'gotham book';

// $button_font_size: 14px;

// screen sizes
$screen-iphone5:             320px !default;
$screen-iphone6:             360px !default;
$screen-iphone6plus:         414px !default;

$screen-xs:                  480px !default;
$screen-sm:                  768px !default;
$screen-md:                  992px !default;
$screen-lg:                  1200px !default;



$title_font_family: 'CircularStd-Bold';
$text_font_family: 'CircularStd-Book';
