.footer_content_block {
    img {
        width: 40px !important;
        padding-bottom: 30px;
    }

    p {
        font-size: 16px;
        padding-bottom: 0px !important;
        color: #4d4d4d;
        font-family: 'avenir_book';
    }
}

.footer_copyright p {
    padding-top: 30px;
    color: #c8c8c8;
    font-size: 14px;
    font-family: 'avenir_book';
}

/* Footer row */

#footer-widgets {
    background-color: #ffffff;

    & img {
        max-width: 105px !important;
        margin-top: 0px;
    }

    & p {
        color: #9B9B9B;
        font-size: 15px;
        @media only screen and (max-width: 480px) {
            font-size: 12px;
        }
    }
    .fa{
        margin-right: 20px;
    }
    .menu-footer-menu-container{
        #menu-footer-menu{
            @media(max-width: 480px){
                margin-top: 0 !important;
            }
        }
    }
    & .widget.widget_nav_menu {
        & ul {
            @media only screen and (max-width: 480px) {
                margin-top: 100px;
                margin-bottom: 10px;
            }

            & li {
                display: inline-block;
                a {
                    font-size: 16px;
                    color: #9B9B9B !important;
                    font-family: $text_font_family;
                    margin-left: 20px;
                    margin-right: 20px;

                    @media only screen and (max-width: 480px) {
                        margin-top: 0px;
                        font-size: 12px;
                        margin-left: 10px; 
                        margin-right: 10px;
                    }

                    &:hover {
                        color: $color__text_primary1 !important;
                    }
                }
            }
        }
    }

    & .copyright {
        color: #999999;
        font-family: $text_font_family;
        font-size: 12px;
        padding-top: 20px;
    }
}

#copyright {
    display: none;
}

.social_icon {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
}