body.home {
    #home-video-header{
        .main-video-container{
            position: relative;
             height: 960px;
             width: 100%;
             @media(max-width: 1260px){
                height: 700px;
             }
             @media(max-width: 1100px){
                height: 500px;
             }
             @media(max-width: 1100px){
                height: auto;
                overflow: auto;
             }
            .video-wrapper{
                position: relative;
                width: 100%;
                height: 860px;
                overflow: hidden;
                 @media(max-width: 1260px){
                    height: 660px;
                 }
                 @media(max-width: 1100px){
                    height: 440px;
                 }
                @media(max-width: 780px){
                    height: 340px;
                 }
                 @media(max-width: 420px){
                    height: 215px;
                 }
                video{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                   
                }
                .home-video-play-icon{
                    // display: none;
                    position: absolute;
                    top: 55%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 75px;
                    height: 75px;
                    border-radius: 100%;
                    cursor: pointer;
                    background-image: url('../../dist/images/play_btn.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    z-index: 30;
                    &:hover{
                        opacity: .8;
                    }
                }
                .video-title{
                    position: absolute;
                    top: 35%;
                    left: 50%;
                    transform: translateX(-50%);
                    h2 {
                        font-family: $title_font_family !important;
                        color: #fff !important;
                        font-size: 50px;
                        font-weight: 500;
                        width: 50%;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                        line-height: 64px;
                    }
                    @media(max-width: 1000px){
                        display:none;
                    }
                }
                
            }
            .video-title2{
                display: none;
                margin-top: 30px;
                padding: 0 32px;
                h2 {
                    color: #4A4A4A !important;
                    font-family: $title_font_family;
                    font-size: 32px;
                    font-weight: 500;
                    line-height: 41px;
                    text-align: center;
                }
                @media(max-width: 1000px){
                    display: block;
                }
            }
            .video-header-selection{
                height: 200px;
                width: 1225px;
                margin: -72px auto 0;
                z-index: 12;
                line-height: 145px;
                vertical-align: middle;
                // overflow: auto;
                @media(max-width: 1280px){
                    padding-left: 32px;
                }
                @media(max-width: 1000px){
                    margin: 0 auto;
                    overflow: auto;
                    padding-top: 16px;

                }
                .video-item{
                    position: relative;
                    // margin-right: -10px;
                    // border: 1px solid red;
                    width: 130px;
                    height: 100px;
                    display: inline-block;
                    vertical-align: middle;
                    overflow: hidden;
                    margin-right: -4px;
                    padding: 0;
                    cursor: pointer;
                    z-index: 12;
                    font-size: 0;
                    @media(max-width: 1000px){
                        margin-right: -2px;
                    }
                    video{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        z-index: 12;
                        margin: 0 !important;
                    }
                    .selection-title{
                        position: absolute;
                        top: 18px;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 15;
                    }
                     &:before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: rgba(0,0,0,.3);
                    }
                    &:hover{
                        &:before{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: rgba(0,0,0,.1);
                        }
                    }
                }

                .video-item.active{
                    width: 185px;
                    height: 145px;
                    -webkit-box-shadow: 0px 5px 29px -4px rgba(0,0,0,0.26);
                    -moz-box-shadow: 0px 5px 29px -4px rgba(0,0,0,0.26);
                    box-shadow: 0px 5px 29px -4px rgba(0,0,0,0.26);
                     &:before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: rgba(0,0,0,.3);
                    }
                    &:hover{
                        &:before{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: rgba(0,0,0,.1);
                        }
                    }
                }
            }

        }
        
    }
    #home-latest-recipe-row{
        width: 100%;
        .latest-recipe-column-left{
            width: 50% !important;
            float: left;
            @media(max-width: 1000px){
                width: 100% !important;
                display: block;
                float: none;
            }
            .vc_column-inner{
                width: 650px;
                float: right;
                padding: 0 150px 0 32px;
                @media(max-width: 1280px){
                    width: 100%;
                    padding: 0 150px 0 32px;
                }
                @media(max-width: 1000px){
                    width: 100%;
                    padding: 52px 32px 0;

                    h2{
                        font-size: 40px;
                    }
                }
            }
            .latest-prev{
                    display: inline-block;
                    margin-right: 23px;
                    margin-top: 40px;
                    height: 45px;
                    width: 45px;
                    cursor: pointer;
                    // border: 1px solid #9B9B9B;
                    // border-radius: 100%;
                    background: url('../../dist/images/arrow-grey.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 100%;
                    &:before{
                        content: '';
                        background: url('../../dist/images/arrow-orange.svg');
                    }
                    &:hover{
                        background: url('../../dist/images/arrow-orange.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100%;
                        transform: rotate(180deg);
                    }
            }
             .latest-next{
                    display: inline-block;
                    cursor: pointer;
                    margin-right: 34px;
                    margin-top: 40px;
                    height: 45px;
                    width: 45px;
                    background: url('../../dist/images/arrow-grey.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    // background-size: 100%;
                    transform: rotate(180deg);
                    &:before{
                        content: '';
                        background: url('../../dist/images/arrow-orange.svg');
                    }
                    &:hover{
                        background: url('../../dist/images/arrow-orange.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100%;
                        transform: rotate(0deg);
                    }

            }
            .see-more{
                display: inline-block;
                margin-bottom: 30px;
                vertical-align: middle;
                a{
                    
                    color: #4A4A4A;
                    font-family: $text_font_family;
                    font-size: 17px;
                    font-weight: 500;
                    // line-height: 60px;
                    // height: 45px;
                    // vertical-align: middle;

                }
            }
        }
        .latest-recipe-column-right{
            // border: 1px solid red;
            // padding-top: 100px;
             width: 50%;
             float: left;
             overflow: hidden;
             @media(max-width: 1000px){
                width: 100%;
                display: block;
                float: none;
                padding-left: 22px;
            }
            .latest-recipe-slider{
                // width: 150%;
                overflow: hidden;
                .latest-recipe-item-wrapper{
                    margin: 100px 13px 30px 13px;
                    @media(max-width: 1000px){
                        // padding-left: 10px;
                        margin: 62px 8px 0px 8px;
                    }
                    .latest-recipe-item{
                        position: relative;
                        margin: 0 13px;
                        vertical-align: top;
                        width: 285px !important;
                        height: 505px;
                        display: inline-block;
                        
                        text-align: left;
                         @media(max-width: 1000px){
                            // padding-left: 10px;
                            margin: 0 8px;
                        }
                        a{
                            .recipe-image{
                                width: 100%;
                                height: 285px;
                                img{
                                    width: 100% !important;
                                    height: 285px !important;
                                    object-fit: cover;
                                }
                            }
                        }
                        .recipe-details{
                            
                            display: block;
                            vertical-align: top;
                            height: 147px;
                            background: #fff;
                            border: 1px solid #DDDDDD;
                            color: #4A4A4A;
                            padding: 20px;
                            .user-recipe-item-title{

                                // margin: 0 10px;
                                // margin-top: -102px;
                                padding-bottom: 10px;
                                color: #4A4A4A;
                                font-family: $title_font_family;
                                font-size: 22px;
                                font-weight: 500;
                                line-height: 29px;
                            }
                            
                        }
                        
                    }
                }
                .slick-current{
                    .latest-recipe-item-wrapper{
                        margin: 50px 25px 0 0;
                        .latest-recipe-item{
                            
                            -webkit-box-shadow: 0px 5px 29px -4px rgba(0,0,0,0.26);
                            -moz-box-shadow: 0px 5px 29px -4px rgba(0,0,0,0.26);
                            box-shadow: 0px 5px 29px -4px rgba(0,0,0,0.26);
                            height: 432px;
                            .recipe-details{
                                border: 0;
                            }
                        }
                        @media(max-width: 1000px){
                           margin: 62px 8px 0px 8px;
                        }
                    }
                }
            }

            .slick-arrow{
                display: none !important;
            }
        }
    }
    #pick-of-the-week{
        @media(max-width: 1000px){
            padding-top: 12px !important;
        }
        .pick-recipe-wrapper{
            position: relative;
            width: 1600px;
            height: 750px;
            margin: 0 auto;
            background-repeat: no-repeat !important;
            background-size: 100% !important;
            overflow: hidden;
            @media(max-width: 1600px){
               
                width: 100%;
            }
            @media(max-width: 1000px){
                height: 610px;
                background-size: cover !important;
                background-position: center center !important;

            }
            .pick-text-col{
                position: absolute;
                width: 480px;
                top: 50%;
                left: 200px;
                transform: translateY(-50%);
                @media(max-width: 1000px){
                    width: 100%;
                    top: 72px;
                    left: 32px;
                    padding-right: 20px;
                    transform: none;
                }
                 @media(max-width: 520px){
                    width: 100%;
                   
                }
                h4{
                    color: #FFFFFF !important;
                    font-family: $text_font_family;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 30px;
                }
                h1{
                    color: #FFFFFF !important;
                    font-family: $title_font_family;
                    font-size: 40px;
                    font-weight: bold;
                    line-height: 51px;
                    @media(max-width: 1000px){
                        font-size: 32px;
                    }
                }
                p{
                    color: #FFFFFF !important;
                    font-family: $text_font_family;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 32px;
                }
                .recipe-details{
                    color: #fff;
                    .tgi-icon-icon-clock-black, .tgi-icon-icon-level-black, .tgi-icon-icon-fire-black{
                        color: #fff;
                        span{
                            color: #fff;
                        }
                    }
                }
                a{
                    .try-recipe-btn{
                        // height: 64px;
                        // width: 165px;
                        margin-top: 38px;
                        display: inline-block;
                        padding: 20px 40px;
                        border-radius: 30px;
                        background-color: #FFFFFF;

                        color: #FF4B2B;
                        font-family: $title_font_family;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        text-align: center;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    .tgi_quick_easy{
        @media(max-width: 1000px){
            padding-top: 18px !important;
        }
    }
    #build-your-own-recipe{
        @media(max-width: 1000px){
            text-align: left !important;
            padding-top: 62px !important;
            h2{
                font-size: 32px;
                text-align: left !important;
            }
            p{
                text-align: left !important;
            }
        }
    }
    #home-page-steps{
        
        @media(max-width: 480px){
            margin-bottom: 4px !important;
            .column_container{
                .img-with-aniamtion-wrap{
                    display: inline-block !important;
                }
                .wpb_text_column{
                    display: inline-block !important;
                    margin-left: 40px;
                    padding-bottom: 10px;
                    vertical-align: bottom !important;
                    h5, p{
                        text-align: left !important;
                    }
                }
            }
        }
    }
    #build-your-own-recipe-btn{
        @media(max-width: 480px){
            .wpb_column.centered-text{
                text-align: left;
            }
        }
    }
    #appliance-work{
        @media(max-width: 480px){
            padding-top: 60px !important;
            padding-bottom: 0 !important;
            h2{
                font-size: 32px;
            }
        }
    }
    
    h2 {
        font-family: $title_font_family !important;
        font-size: 40px;
        font-weight: 500;
        color: $color__text_primary1;
        line-height: 51px;
        // padding-bottom: 20px;

    }

    h4 {
        font-family: $title_font_family !important;
        font-weight: 500;
    }

    h5 {
        padding-top: 30px;
        margin-bottom: 0px;
        color: #9B9B9B;
    }

    p {
        font-family: $text_font_family !important;
        font-size: 17px;
        font-weight: 300;
        color: $color__text_paragraph;
        line-height: 32px;
    }





    // video title
    .swiper-slide .content h2 {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        color: #ffffff !important;
    }

    & .tgi_recipe_info {
        font-size: 15px;
    }

    & .team-member .team-meta {
        padding-left: 15%;
        padding-right: 15%;
        margin-bottom: 15%;
    }

    & .tgi_specifications {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px !important;
        padding-bottom: 50px !important;

        @media (max-width: 480px) {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            margin-bottom: 0px !important;
            & .vc_col-sm-4 {
                padding-top: 0px;
            }
        }

        & img {
            max-width: 21px !important;
        }

        & p {
            max-width: 300px;

            & strong {
                color: $color__text_primary1;
                @media(max-width: 480px){
                    font-size: 24px !important;
                }
            }
            
        }
    }
    #specification-btn{
        @media(max-width: 480px){
            padding-bottom: 0 !important;
            margin-bottom: 25px !important;
            .wpb_column.centered-text{
                text-align: left !important;
            }
        }
    }
    #home-join-bottom{
        @media(max-width: 480px){
            padding-top: 0 !important;
            h2{
                font-size: 32px;
                text-align: center;
            }
        }
    }
    & a.nectar-button.large.see-through-2 {
        border-radius: 50px !important;
        margin-top: 30px;
        border: 1px solid #9B9B9B !important;
        padding: 20px 40px;

        & span {
            font-family: $text_font_family;
            font-size: 17px;
            font-weight: 500;
            line-height: 22px;
            color: #9B9B9B;
            text-transform: capitalize;
            letter-spacing: normal;
        }

        &:hover {
            border: 1px solid $color__text_primary1 !important;

            & span {
                color: #ffffff;
            }
        }
    }

    & .tgi_ig_hashtag {
        & img {
            max-width: 270px;

            &:after {
                content: " ";
                background-color: rgba(0, 0, 0, 0.1)
            }
        }
    }



    .cell {
        transform: scale(0.9);

        &.is-selected {
            transform: scale(1);
        }
    }

    & .team-member {
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2),
            0 5px 5px 0 rgba(0, 0, 0, 0.1);
            & h3{
                color: #ffffff !important;
            }
    }

    @media (max-width: 480px) {}

    @media (min-width: 1200px) {
        & video#lfvideo {
            width: 1200px !important;
        }
    }

    @media (max-width: 1400px) {
        & video#lfvideo {
            width: 90% !important;
        }
    }

    @media (max-width: 480px) {

        & video#lfvideo {
            width: calc(100% + 80px) !important;
            margin-left: -40px;

        }
    }
}