.page-recipe-list, .page-hand-picked{
  // position: relative;

  #section1{
    @media(max-width: 1000px){
      margin-bottom: 0 !important;
    }
  }
  .search-container{
    position: relative;
    margin-top: 40px;
    margin-bottom: 84px;
    text-align: center;
    @media(max-width: 1000px){
      margin-top: 0;
    }
    @media(max-width: 480px){
      margin-bottom: 54px;
    }

    .search-box{
      display: inline-block;
      width: 600px;
      height: 60px;
      margin-right: 15px;
      @media(max-width: 1200px){
        width: 100%;
        margin-bottom: 25px;
        .minimal-form-input{
          padding-top: 0 !important;
        }
      }
      input{ 
        width: 100%;
        padding: 17px 0 17px 20px !important;
        font-size: 18px;
        font-family: $text_font_family;
        border-radius: 30px;
        border: 0;
        background-color: #FFFFFF;
        box-shadow: 0 19px 60px 0 rgba(255,75,43,0.15);
        @media(max-width: 1200px){
          width: 600px;
        }
        @media(max-width: 1000px){
            width: 100%;
        }
      }
      ::placeholder {
          color: #ccc;
        font-size: 1em;
      }
      .minimal-form-input label:after{
        border: 0;
      }
      .minimal-form-input label:before{
        border: 0;
      }
      
    } 
    #spinner{
      position: absolute; 
      top: 100px;
      left: 50%;
      z-index: 100;
      width: 54px;
      height: 54px;
      display: none;
    }
    .search-btn, .filter-btn{
      display: inline-block;
      width: 150px;
      height: 60px;
      line-height: 60px;
      vertical-align: middle;
      border: 1px solid #4A4A4A;
      font-family: $text_font_family;
      border-radius: 100px;
      cursor: pointer;
      margin: 0 8px;
      @media(max-width: 480px){
        width: 44%;
      }
      
    }
    // @media(max-width: 1000px){
    //   .search-btn{
    //     float: left;
    //   }
    //   .filter-btn{
    //     float: right;
    //   }
    // }
    .active{
      border: 1px solid $orange;
      color: $orange;
    }
  }
  .filter-container{
    // text-align: center;
    padding-bottom: 150px;
    @media(max-width: 1000px){
      padding-bottom: 30px;
    }
    .filter-wrapper{
      display: inline-block;
      width: 180px;
      margin-right: 20px;

      @media(max-width: 480px){
        width: 100%;
      }
      select{
          
        -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          -webkit-box-shadow: none !important;
        box-shadow: none !important;
        height: 48px;
        color: #595959;
        border-bottom: 1px solid #595959 !important;
        border-radius: 0 !important;
        background: transparent;
        font-size: 17px;
        padding: 0;
        font-family: $text_font_family;
        // color: #CBCBCB;
        background: url('../../dist/images/dropdown.svg');
          background-repeat: no-repeat;
          background-position: right 10px center;
      }
    }


  }
  // #filter-difficulty, #filter-category, #filter-device{
  //   display: none;
  // }
  
  #filter{
    display: none;
  }
  .filter-selection-container{
    padding-bottom: 35px;
    .filter-title{
      display: inline-block;
      color: #999999;
      font-family: $text_font_family;
      font-size: 12px;
      font-weight: 300;
      line-height: 39px;
      margin-right: 15px;

    }
    .filter-item{
      display: none;
      color: #999999;
      font-family: $text_font_family;
      font-size: 12px;
      font-weight: 300;
      line-height: 39px;
      border: 1px solid #999999;
      border-radius: 100px;
      padding: 0 23px;
      margin-right: 15px;
      span.remove-filter{
        font-size: 15px;
        margin-left: 27px;
        cursor: pointer;
      }
    }
    .filter-clear{
      display: none;
      color: #999999;
      font-family: $text_font_family;
      font-size: 12px;
      font-weight: 300;
      line-height: 39px;
      border-radius: 100px;
      margin-right: 15px;
      font-size: 12px;
      cursor: pointer;
    }
    .filter-item.active{
      display: inline-block;
    }
    .filter-clear.active{
      display: inline-block;
    }
    .found-items{
      padding-top: 15px;
      vertical-align: middle;
      float: right;
      padding-right: 7px;
      display: inline-block;
      color: #999999;
      font-family: $text_font_family;
      font-size: 12px;
      font-weight: 300;
      line-height: 39px;
      text-align: right;
      @media(max-width: 1000px){
        clear: both;
        float: left;
        width: 100%;
        margin-top: 50px;
        display: block;
        text-align: left;
        padding-bottom: 14px;
      }
    }

  }
  .list-container{
    width: calc(100% + 45px);
    margin: 0 auto;
    @media(max-width: 1087px){
      text-align: center;
    }
    .user-recipe-item{
      position: relative;
      vertical-align: top;
      width: 283px;
      height: 425px;
      display: inline-block;
      margin: 0 32px 45px 0;
      text-align: left;
      @media(max-width: 1000px){
        margin: 0 32px 35px 0;
      }
      a{
        .recipe-image{
          width: 100%;
          height: 285px;
          img{
            width: 100% !important;
            height: 285px !important;
            object-fit: cover;
          }
        }
      }
      .recipe-details{
        display: block;
        vertical-align: top;
        height: 147px;
        background: #fff;
        border: 1px solid #DDDDDD;
        font-family: $text_font_family;
        color: #4A4A4A;
        padding: 20px;
        .user-recipe-item-title{
          padding-bottom: 10px;
          color: #4A4A4A;
          font-family: $title_font_family;
          font-size: 22px;
          font-weight: 500;
          line-height: 29px;
        }
        
      }
      
    }
  }
  .more-spinner-container{
    visibility: hidden;
    margin: 170px auto;
    width: 54px;
    @media(max-width: 1000px){
      margin: 0 auto;
    }
    .more-spinner{
      text-align: center;
      display: inline-block;
      width: 54px;
      height: 54px;
    }
  }
  h3{
    @media(max-width: 1406px){
      font-size: 32px !important;
      text-align: center !important;
    }
  }
  .hand-picked{
    width: calc(100% + 45px);
    @media(max-width: 1406px){
      text-align: center;
    }
  }
}